.todo-list {
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}

.todo-list .todo-list-layout {
    width: 100%;
    max-width: 850px;
}
.todo-list .todo-list-content {
    min-height: 550px;
    max-height: 70vh;   
}